{% zone "Header" %}
<!-- Page Header -->

<header class="masthead">

    <div id="blog" class="bg-primary-darker usa-content font-serif-lg padding-y-6">
        <div class="grid-container">
            <h1 class="text-normal text-white margin-0">{{ "Page Not Found" | t }}</h1>
        </div>
    </div>

</header>
{% endzone %}


