<div class="usa-media-block tablet:grid-col">
    <div class="usa-media-block__body">
      <h2 class="usa-graphic-list__heading">{{ Model.ContentItem.Content.TitlePart.Title }}</h2>
      {{ Model.ContentItem.Content.HtmlBodyPart.Html }}
    </div>
  </div>